{% extends 'index.html' %}

{% block title %} {% endblock title %}

{% block content %} 

    <h1>Contactos</h1>

    {% include 'contact/partials/search.html' %}
    {% include 'contact/partials/by_initial.html' %}

    <span class="aux-btns">
        <a href="{% url 'contact' %}">Ver todos</a> 
        <a 
            href="{% url 'contact_create' %} " 
            class="btn btn-primary" 
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa-solid fa-plus" title="Create Record"></i>
        </a>
    </span>
    <ul class="list">
    <hr class="line-table">
        {% for contact in contacts %}
            <li> {{ contact }} 
                <span>
                    <a
                        href="{% url 'contact_view' id=contact.id %}"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="fa-sharp fa-thin fa-newspaper" title="Detail Record"></i>
                    </a>
                    <a
                        href="{% url 'contact_edit' id=contact.id %}"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                        href="{% url 'contact_delete' contact.id %}"
                        class="btn btn-danger"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>    
                </span>
            </li>
            <hr class="line-table">
        {% endfor %}
    </ul>
{% endblock content %} 
